@import url('https://fonts.googleapis.com/css?family=Exo+2:400,900');

html,body {
 background: #ccc;  
}

#gameover, #youwon {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,0.7);
  color: white;
  display: none;
  div {
    text-align: center;
    margin: 3vmin;
    font-size: 4vmin;
    font-family: "exo 2", "exo2", "exo", arial, sans-serif;
  }
}

#simon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vmin;
  height: 50vmin;
  background: #333;
  border-radius: 100%;
  box-shadow: inset 0.5vmin 0.5vmin 0.75vmin rgba(255,255,255,0.2),
              inset 1vmin 1vmin 0.75vmin rgba(0,0,0,0.15),
              inset -0.5vmin -0.5vmin 0.75vmin rgba(0,0,0,0.2),
              inset -0.75vmin -0.75vmin 0.75vmin rgba(255,255,255,0.1),
              0.5vmin 0.5vmin 1.5vmin rgba(0,0,0,0.2);
  overflow: hidden;
  aborder: 2vmin outset rgba(255,255,255,0.1);
  box-sizing: border-box;
}

#protector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 4;
}

#center, #card {
  width: 40%;
  height: 40%;
  background: #333;
  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 5;
}

#card {
  width: 80%;
  height: 80%;
  background: #bbb;
  text-align: center;
}

#onoff {
  position: absolute;
  width: 30%;
  height: 15%;
  background: #222;
  border-radius: 1000px;
  position: absolute;
  top: 65%;
  left: 35%;
  box-shadow:inset 0 0 10px 0 black;
}

#switch {
  position: absolute;
  top: 7%;
  left: 7%;
  width: 43%;
  height: 86%;
  background: #999;
  border-radius: 100%;
  display: inline-block;
  transition: left 0.5s;
  cursor: pointer;
}

#cb-onoff:checked ~ #simon #switch {
  left: 53%;
}

h1, h2 {
  font-family: "exo 2", "exo2", "exo", arial, sans-serif;
  font-size: 3vmin;
  margin-top:0;
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #222;
  font-weight: 900;
  user-select: none;
}

h2 {
  font-size: 1.5vmin;
  top: 50%;
  font-weight: 400;
  white-space: nowrap;
}

#simon label.button {
  position: absolute;
  width: 43%;
  height: 43%;
  border: 0;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  outline: none;
  cursor: pointer;
  transition: all 0.25s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

label.button.incorrect {
  z-index: 2;
}

label.button.correct {
  z-index: 1;
  background: transparent;
  box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}

.button-1 { 
  top: 5%; 
  left: 5%; 
  border-radius: 100% 2% 2% 2%;
  background: #4c6;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
.button-2 { 
  top: 5%; 
  right: 5%; 
  border-radius: 2% 100% 2% 2%;
  background: #c44;
}
.button-3 { 
  bottom: 5%; 
  left: 5%; 
  border-radius: 2% 2% 2% 100%;
  background: #dd6;
}
.button-4 { 
  bottom: 5%; 
  right: 5%; 
  border-radius: 2% 2% 100% 2%;
  background: #46c;
}

#cb-onoff:checked {
  ~ #simon {
    .button-1:active { background: #6e8; }
    .button-2:active { background: #e66; }
    .button-3:active { background: #ff8; }
    .button-4:active { background: #68e; }
    #protector { z-index: 1; }
  }
  @for $i from 0 through 10 { // 30 {
    @for $s from 0 through $i {
      ~ #round-#{$i}:checked ~ #round-#{$i}-step-#{$s}:checked ~ #simon .round-#{$i}.step-#{$s} { z-index: 3; }
    }
  }
}

$sequence: 1 2 3 4 1 1 3 4 2 3 1 2 4 3 3 2 4 1 1 4 4 4 2 3 2 1 4 2 3 1;
$colors: #4c6 #7f9, #c44 #f77, #dd6 #ff9, #46c #79f;
@each $i in [1,2,3,4] {
  @for $s from 1 through 30 {
     @keyframes sequence-0-step-#{$s - 1}-button-#{$i} {
       0% { background: nth(nth($colors, $i), 1); }
       @for $m from 1 through $s {
         #{100 * ($m - 1) / $s + 1}% { 
           @if nth($sequence, $m) == $i {
             background: nth(nth($colors, $i), 2);
           } @else {
             background: nth(nth($colors, $i), 1); 
           }
         }
         #{100 * $m / $s - 1}% { 
           @if nth($sequence, $m) == $i {
             background: nth(nth($colors, $i), 2);
           } @else {
             background: nth(nth($colors, $i), 1);
           }
         }
         #{100 * $m / $s - 0.5}% { 
           background: nth(nth($colors, $i), 1);
         }
       }
       100% { background: nth(nth($colors, $i), 1); }
    }
  }
}

// 1,2,3,4,1
@for $s from 0 through 0 {
  @for $i from 0 through 30 {
    @for $j from 1 through 4 {
      #cb-onoff:checked ~ #sequence-#{$s}:checked ~ #round-#{$i}:checked ~ #simon .button-#{$j} { 
        animation-name: sequence-#{$s}-step-#{$i}-button-#{$j};
        animation-duration: #{$i*0.5 + 1}s;
      }
    }
  }
}

@for $i from 0 through 1 {
  @keyframes protect-buttons-#{$i} {
    0% { z-index: 1 }
    1% { z-index: 4 }
    99% { z-index: 4 }
    100% { z-index: 1 }
  }
}

@for $s from 0 through 0 {
  @for $i from 0 through 30 {
    #cb-onoff:checked ~ #sequence-#{$s}:checked ~ #round-#{$i}:checked ~ #simon #protector {
      animation-name: protect-buttons-#{$i % 2};
      animation-duration: #{$i*0.5 + 1.5}s;
    }
  }
}

#incorrect:checked ~ {
  #simon #protector {
    z-index: 5;
  }
  #gameover {
    display: block;
  }
}

#round-30:checked ~ #youwon {
  display: block;
}

@each $i in [1,2,3,4] {
  @keyframes incorrect-button-#{$i} {
    0% { background: nth(nth($colors, $i), 2) }
    20% { background: nth(nth($colors, $i), 2) }
    21% { background: nth(nth($colors, $i), 1) }
    40% { background: nth(nth($colors, $i), 1) }
    41% { background: nth(nth($colors, $i), 2) }
    60% { background: nth(nth($colors, $i), 2) }
    61% { background: nth(nth($colors, $i), 1) }
    80% { background: nth(nth($colors, $i), 1) }
    81% { background: nth(nth($colors, $i), 2) }
    99% { background: nth(nth($colors, $i), 2) }
    100% { background: nth(nth($colors, $i), 1) }
  }
  #incorrect:checked {
    ~ #simon .button-#{$i} {
      animation-delay: 0s;
      animation-name: incorrect-button-#{$i} !important;
      animation-duration: 1s !important;
    }
  }
}
